<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
      </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login
    </title>
</head>
<body>
   <h1>login</h1>
   <form action="/user/login" method="post">
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter Name">
    <label for="">email</label>
    <input type="text" name="email" placeholder="Enter email">
    <label for="">password</label>
    <input type="text" name ="password" placeholder="Enter ***">
    <button type="submit" >Login</button>
   </form>
</body>
</html>